* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.box {
    display: flex;
    align-items: center;
}

.input {
    width: 220px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
    outline: 1px solid transparent;
    padding-left: 20px;
    font-size: 20px;
}

.btn1 {
    width: 120px;
    height: 50px;
    border: none;
    transition: .5s;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-left: 20px;
}

.btn1:hover {
    transition: .5s;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid cadetblue;
    color: cadetblue;
}

.delete {
    width: 140px;
    height: 50px;
    border: none;
    transition: .5s;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-left: 10px;
}

.delete:hover {
    transition: .5s;
    cursor: pointer;
    background-color: cadetblue;

}

.rasm {
    width: 300px;
    height: 200px;
    ;
    background-image: url(../images/mushuk.jpg);
    background-repeat: no-repeat;
    margin-left: 90px;
}


.rasm1 {
    width: 300px;
    height: 200px;

    background-image: url(../images/it.jpg);
    background-repeat: no-repeat;
    margin-left: 90px;
}

.rasm2 {
    width: 300px;
    height: 200px;
    background-image: url(../images/1-rasm.jpg);
    background-repeat: no-repeat;
    margin-left: 90px;
}

.rasm3 {
    width: 300px;
    height: 200px;
    background-image: url(../images/koptok.jpg);
    background-repeat: no-repeat;
    margin-left: 90px;
}

.rasm4 {
    width: 300px;
    height: 200px;
    background-image: url(../images/kompyuter.jpg);
    background-repeat: no-repeat;
    margin-left: 90px;
}

.rasm5 {
    width: 300px;
    height: 200px;
    background-image: url(../images/baliq.jpg);
    background-repeat: no-repeat;
    margin-left: 90px;
}

.rasm6 {
    width: 300px;
    height: 200px;
    background-image: url(../images/il.jpg);
    background-repeat: no-repeat;
    margin-left: 90px;
}

.rasm7 {
    width: 300px;
    height: 200px;
    background-image: url(../images/sichqon.jpg);
    background-repeat: no-repeat;
    margin-left: 90px;
}

.rasm8 {
    width: 300px;
    height: 200px;
    background-image: url(../images/dasturchi.jpg);
    background-repeat: no-repeat;
    margin-left: 90px;
}

.rasm9 {
    width: 300px;
    height: 200px;
    background-image: url(../images/uy.jpg);
    background-repeat: no-repeat;
    margin-left: 90px;
}
.body_task {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: auto;
    overflow: auto;
}

.mushuk,
.it,
.baliq,
.kompyuter,
.dasturchi,
.mashina,
.uy,
.dasturchi,
.koptok,
.ilon,
.sichqon {
    display: none;
    padding: 5px 10px;
}



.text {
    text-align: center;
    margin-bottom: 10px;
}

.bosh{
    margin-bottom: 50px;
}